.container {
  padding: 0 2rem;
}
.main {
  min-height: 100vh;
}
.main h1{
  margin: 0;
  padding: 1rem 0 0 0;
  font-size: 40px;
}
.headp {
  font-size: 22px;
  margin-top: 10px;
}
.decp{
  width: 70%;
  padding: .5em 0 1em 0;
  font-size: 18px;
}
.skills , .social{
  padding-bottom: 1em;
}
.skills p, .social p{
  padding: 0 1rem;
}
.skills a,.social a{
  padding: 0.2rem;
}
.social a{
  padding: .4rem;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid;
  justify-content: center;
  align-items: center;
}
.separator {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-weight: 550;
}

.logo {
  height: 1.3em;
  margin-left: 0.1rem;
  transform: scale(0.855);
}

@media only screen and (max-width: 520px) {
  .headp{
    font-size: 22px;
  }
  .decp{
    padding: 0;
    width: 100%;
    font-size: 18px;
  }
}
