.container{
  padding: 1rem 1.5rem;
  margin: 0;
}
.container h1{
    margin: 0;
    padding: 0;
}
.resume{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    margin-top: 10px;
}
.resume .part1{
    width: 35%;
    padding: 10px;
    display: block;
}
.resume .ritem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    margin: 0 0 .3rem 0;
}
.ritem a:hover{
    color: rgb(52, 80, 207);
    text-decoration: underline;
}
.ritem .icon{
    font-size: 20px;
}
.ritem span{
    font-size: 18px;
}
.resume .rhead{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    margin: 0 0 .3rem -5px;
}
.rhead .icon{
    font-size: 22px;
}
.rhead span{
    font-size: 20px;
    font-weight: 600;
}
.resume .part2{
    width: 55%;
    padding: 10px;
    display: block;
}
.resume .mutliItemArea{
    display: block;
}
.mutliItemArea .insideItem{
    padding-left: 1.5rem;
    padding-right: 10px;
}
.directedMultiItem .cslist{
    padding-right: 5%;
}
.directedMultiItem .dhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.dhead .year{
    font-size: 14px;
}
.dhead .headicon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.dhead .headicon span{
    font-size: 18px;
}
.dhead span{
    font-size: 14px;
    font-weight: 600;
}
.directedMultiItem .ditem{
    display: block;
}
.ditem .leftCircle{
    padding: .4rem;
    width: min-content;
    border: 1px solid #000;
    border-radius: 50%;
}
.ditem hr{
    transform: rotate(90deg);
    width: 1.5rem;
    margin-left: 0;
    padding: 0;
}
.ditem .content{
    border-left: 1px solid #000;
    padding: 0;
    margin-left: .4rem;
    display: inline-grid;
}
.content span{
    padding-top: 4px;
    padding-left: 1.5rem;
}
.moreInfo{
    display: flex;
    background-color: #6b6b6b36;
    backdrop-filter: blur(20px);
    width: 100%;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-radius: 10px ;
}
.moreInfo button{
    all: unset;
    padding: .4rem 1.2rem;
    border: 2px dotted;
    border-radius: 2rem;
    cursor: pointer;
    transition: filter 200ms ease-in;
    font-weight: 600;
}
.moreInfo button:hover{
    filter: drop-shadow(0 0 10px rgb(62, 63, 14));
    border: 2px solid;
}
.moreInfo button:active{
    transform: scale(0.9);
}
@media only screen and (max-width: 520px) {
    .resume{
        display: block;
    }
    .resume .part1{
        width: 100%;
    }
    .resume .part2{
        width: 100%;
    }
    .rhead .icon{
        font-size: 20px;
    }
    .rhead span{
        font-size: 18px;
        font-weight: 600;
    }
    .moreInfo{
        display: block;
        text-align: center;
    }
}